# Multiple Linear Regression

Multiple linear regression is used to estimate the relationship between two or more independent variables and one dependent variable

# Problem : 

Predict the Salary based on Years of Exp and Age <br/>
y= Salary <br/>
X1= Years of Experience <br/>
X2 = AGE <br/>

In [1]:
pwd

'C:\\Users\\User\\Git-Hup Files\\Machine Learning Regression'

In [2]:
cd C:\Users\User\Desktop\Anindita Mitra\Git-Hub\ML Regression\Multiple

C:\Users\User\Desktop\Anindita Mitra\Git-Hub\ML Regression\Multiple

In [3]:
#Import all the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# import Data set from the local directory

df = pd.read_csv("Salary.csv")

In [5]:
# to check the first 5 rows of the data
df.head()

   YearsExperience  Age  Salary
0              1.1   21   39343
1              1.3   22   46205
2              1.5   23   37731
3              2.0   24   43525
4              2.2   25   39891

In [6]:
# Lets define the object X & Y 
x = df.drop(['Salary'],axis='columns')
y=df.Salary

In [7]:
#Lets check the value of X and Y sperately
x.head(5)

   YearsExperience  Age
0              1.1   21
1              1.3   22
2              1.5   23
3              2.0   24
4              2.2   25

In [8]:
y.head(5)

0    39343
1    46205
2    37731
3    43525
4    39891
Name: Salary, dtype: int64

## Train Test Split

In a dataset, a training set is implemented to build up a model, while a test (or validation) set is to validate the model built.In Machine Learning, we basically try to create a model to predict the test data. So, we use the training data to fit the model and testing data to test it.

In [9]:
# Splitting data into training and test set

from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split (x , y, test_size=0.2, random_state=0)

In [13]:
#Lets check the value of X_Train, Y-Train, X_Test, Y_Test
x_train.head()

    YearsExperience  Age
27              9.6   48
11              4.0   32
17              5.3   38
22              7.9   43
5               2.9   26

In [14]:
y_train.head()

27    112635
11     55794
17     83088
22    101302
5      56642
Name: Salary, dtype: int64

In [15]:
x_test.head()

    YearsExperience  Age
2               1.5   23
28             10.3   49
13              4.1   34
10              3.9   31
26              9.5   47

In [16]:
y_test.head()

2      37731
28    122391
13     57081
10     63218
26    116969
Name: Salary, dtype: int64

 # Trainning the Model

In [17]:
#from sklearn library import Simple Linear Regression
from sklearn.linear_model import LinearRegression

In [19]:
#create an object
reg = LinearRegression()

In [20]:
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predicting Test Result

In [22]:
y_pred = reg.predict(x_test)

In [28]:
y_pred

array([ 40881.83899129, 123274.07250855,  64442.18008862,  63137.97722674,
       115698.08109928, 108122.08969001])

# Predicting on a random sample
Here the equation looks as below <br/>
predicted Value (Y) = Click Rate<br/>
X1 = Email Sent<br/>
X2 = Open_Rate<br/>
Click_Rate = m1 * Years of Exp + m2 * Age + c<br/>

In [24]:
# Now we will predict the value of m which is the co-efficent
reg.coef_

array([10059.78425203,  -235.91799618])

In [25]:
# Let find the value of intercept which is c
reg.intercept_

31218.276525308058

In [26]:
# lets predict the Salary when Years of Exp is 4.8 and Age is 36
# Salary = m1* Years of Exp + m2 * Age

B = ([[10059.784252035*4.8+-235.91799618*36+31218.276525308058]])

In [27]:
print (B)

[[71012.19307259606]]

# Evaluating Model Performace

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
mse = mean_squared_error(y_test, y_pred)

In [31]:
rmse = np.sqrt(mse)

In [32]:
print('MSE = ', mse)
print('RMSE = ', rmse)

MSE =  11371576.732921781
RMSE =  3372.1768537432586

# R-squared (R2)

In [33]:
from sklearn.metrics import r2_score

In [34]:
r2_score(y_test, y_pred)

0.9895089343970074