<a href="https://colab.research.google.com/github/animitra24/ML-Regression/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Load Dataset

In [15]:
path =r"C://Users//User//Desktop//Anindita Mitra//Dataset//Car_Sales.csv"

In [19]:
df = pd.read_csv("/content/sample_data/Car_Sales.csv")

In [20]:
df.head(5)

   Items Sold  Expense    Sales  Profit
0          32     5800  1800000  192000
1          35     6200  1790000  190400
2          38     6400  1780000  191200
3          41     6500  1778000  177600
4          44     6550  1750000  176800

In [21]:
df.isnull().sum()

Items Sold    0
Expense       0
Sales         0
Profit        0
dtype: int64

In [22]:
df.describe()

       Items Sold       Expense         Sales         Profit
count   27.000000     27.000000  2.700000e+01      27.000000
mean    71.000000  11063.259259  1.680111e+06  160026.074074
std     23.811762   3416.627944  6.780307e+04   21301.097303
min     32.000000   5800.000000  1.590000e+06  115696.000000
25%     51.500000   8400.000000  1.617500e+06  149600.000000
50%     71.000000  11600.000000  1.695000e+06  161600.000000
75%     90.500000  13888.000000  1.725000e+06  176000.000000
max    110.000000  16200.000000  1.800000e+06  192000.000000

In [23]:
# Lets define the object X & Y 
x = df.drop(['Profit'],axis='columns')
y=df.Profit

In [28]:
# Splitting data into training and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x , y, test_size=0.2, random_state=20)

### Multiple Linear Regression

In [29]:
#from sklearn library import Simple Linear Regression
from sklearn.linear_model import LinearRegression
MLreg = LinearRegression()
MLreg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
y_pred_ML = reg.predict(x_test)

In [34]:
mse_ML = mean_squared_error(y_test, y_pred_ML)
rmse_ML = np.sqrt(mse_ML)

In [35]:
# SCORE ON TRAINING
MLreg.score(x_train,y_train)

0.8027203693551719

In [37]:
#Score of Predicted Data
r2_score(y_test, y_pred_ML)

0.8959760275386588

# Decision Tree

In [38]:
from sklearn.tree import DecisionTreeRegressor
dec_reg = DecisionTreeRegressor(random_state = 0)
dec_reg.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [39]:
y_pred_DL = dec_reg.predict(x_test)

In [41]:
mse_DL = mean_squared_error(y_test, y_pred_DL)
rmse_DL = np.sqrt(mse_DL)
print('MSE = ', mse_DL)
print('RMSE = ', rmse_DL)

MSE =  1804800.0
RMSE =  1343.4284498997333

In [42]:
#Score on Traininig Data
dec_reg.score(x_train, y_train)

1.0

In [43]:
#Score on Predicted  Data
r2_score(y_test, y_pred_DL)

0.9880283018867925