<a href="https://colab.research.google.com/github/animitra24/ML-Regression/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Load Dataset

In [15]:
path =r"C://Users//User//Desktop//Anindita Mitra//Dataset//Car_Sales.csv"

In [19]:
df = pd.read_csv("/content/sample_data/Car_Sales.csv")

In [20]:
df.head(5)

   Items Sold  Expense    Sales  Profit
0          32     5800  1800000  192000
1          35     6200  1790000  190400
2          38     6400  1780000  191200
3          41     6500  1778000  177600
4          44     6550  1750000  176800

In [21]:
df.isnull().sum()

Items Sold    0
Expense       0
Sales         0
Profit        0
dtype: int64

In [22]:
df.describe()

       Items Sold       Expense         Sales         Profit
count   27.000000     27.000000  2.700000e+01      27.000000
mean    71.000000  11063.259259  1.680111e+06  160026.074074
std     23.811762   3416.627944  6.780307e+04   21301.097303
min     32.000000   5800.000000  1.590000e+06  115696.000000
25%     51.500000   8400.000000  1.617500e+06  149600.000000
50%     71.000000  11600.000000  1.695000e+06  161600.000000
75%     90.500000  13888.000000  1.725000e+06  176000.000000
max    110.000000  16200.000000  1.800000e+06  192000.000000

In [23]:
# Lets define the object X & Y 
x = df.drop(['Profit'],axis='columns')
y=df.Profit

In [28]:
# Splitting data into training and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x , y, test_size=0.2, random_state=20)

### Multiple Linear Regression

In [29]:
#from sklearn library import Simple Linear Regression
from sklearn.linear_model import LinearRegression
MLreg = LinearRegression()
MLreg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
y_pred_ML = reg.predict(x_test)

In [34]:
mse_ML = mean_squared_error(y_test, y_pred_ML)
rmse_ML = np.sqrt(mse_ML)

In [35]:
# SCORE ON TRAINING
MLreg.score(x_train,y_train)

0.8027203693551719

In [37]:
#Score of Predicted Data
r2_score(y_test, y_pred_ML)

0.8959760275386588

# Decision Tree

In [38]:
from sklearn.tree import DecisionTreeRegressor
dec_reg = DecisionTreeRegressor(random_state = 0)
dec_reg.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [39]:
y_pred_DL = dec_reg.predict(x_test)

In [41]:
mse_DL = mean_squared_error(y_test, y_pred_DL)
rmse_DL = np.sqrt(mse_DL)
print('MSE = ', mse_DL)
print('RMSE = ', rmse_DL)

MSE =  1804800.0
RMSE =  1343.4284498997333

In [42]:
#Score on Traininig Data
dec_reg.score(x_train, y_train)

1.0

In [43]:
#Score on Predicted  Data
r2_score(y_test, y_pred_DL)

0.9880283018867925

# Random Forest

In [44]:
# Training Random Forest Reg.
from sklearn.ensemble import RandomForestRegressor
RanF_reg = RandomForestRegressor(n_estimators = 10, random_state = 0)
RanF_reg.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [45]:
y_pred_RF = RanF_reg.predict(x_test)

In [46]:
mse_RF = mean_squared_error(y_test, y_pred_RF)
rmse_RF = np.sqrt(mse_RF)
print('MSE = ', mse_RF)
print('RMSE = ', rmse_RF)

MSE =  27231197.01333329
RMSE =  5218.351944180585

In [47]:
# SCORE ON TRAINING
RanF_reg.score(x_train, y_train)

0.9343769046256304

In [48]:
#SCORE ON TEST
r2_score(y_test, y_pred_RF)

0.8193685339622644

### XG Boost

In [49]:
# Training XGBoost Reg.
from xgboost import XGBRegressor
XGB_reg = XGBRegressor()
XGB_reg.fit(x_train, y_train)

[21:39:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [50]:
y_pred_XGB = XGB_reg.predict(x_test)

In [51]:
mse_XGB = mean_squared_error(y_test, y_pred_XGB)
rmse_XGB = np.sqrt(mse_XGB)
print('MSE = ', mse_XGB)
print('RMSE = ', rmse_XGB)

MSE =  17274700.630818684
RMSE =  4156.284474241228

In [54]:
#SCORE ON TRAINING DATA
XGB_reg.score(x_train, y_train)

0.9979324343911589

In [53]:
#SCORE ON TEST DATA
r2_score(y_test, y_pred_XGB)

0.885412510556185

### KNN

In [55]:
#Training the Data
from sklearn.neighbors import KNeighborsRegressor
KNN_reg = KNeighborsRegressor(n_neighbors=5)
KNN_reg.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [56]:
y_pred_KNN = KNN_reg.predict(x_test)

In [57]:
mse_KNN = mean_squared_error(y_test, y_pred_KNN)
rmse_KNN = np.sqrt(mse_KNN)
print('MSE = ', mse_KNN)
print('RMSE = ', rmse_KNN)

MSE =  46879281.49333332
RMSE =  6846.844637738855

In [58]:
#Score on Training data
KNN_reg.score(x_train,y_train)

0.8107646259170309

In [59]:
#Score on Test Data
r2_score(y_test, y_pred_KNN)

0.6890377849056604

In [63]:
print("Multiple Linear Regression:", r2_score(y_test, y_pred_ML))
print("Decision Tree Regression:", r2_score(y_test, y_pred_DL))
print("Random Forest Regression:", r2_score(y_test, y_pred_RF))
print("XGB Regression:", r2_score(y_test, y_pred_XGB))  
print("KNN Regression:", r2_score(y_test, y_pred_KNN))

Multiple Linear Regression: 0.8959760275386588
Decision Tree Regression: 0.9880283018867925
Random Forest Regression: 0.8193685339622644
XGB Regression: 0.885412510556185
KNN Regression: 0.6890377849056604